    <!-- This parts overrides the blocks from the base -->
    {% extends 'base.html' %} {% block content %}
    <form method="post" class="buttons">
      <h2>Welcome to LevChat Rooms!</h2>
      <h3>Enter The Chat Room:</h3>
      <div>
        <label>Name:</label>
        <input
          type="text"
          placeholder="Pick a name!"
          name="name"
          value="{{name}}"
        />
      </div>
      <div class="join">
        <input type="text" placeholder="Room Code" name="code" value="{{code}}" />
        <button type="submit" name="join">Join a Room</button>
      </div>
      <button type="submit" name="create" class="create-btn">Create a Room</button>
      <!-- In your home.html file -->
    {% if error %}
    <div class="error">
      <ul>
        <li>{{ error }}</li>
      </ul>
    </div>
    {% endif %}
    </form>
    {% endblock %}