    <!-- This parts overrides the blocks from the base -->
    {% extends 'base.html' %} {% block content %}
    <form method="post" class="buttons">
      <h2>Welcome to LevChat Rooms!</h2>
      <h3>Enter The Chat Room:</h3>
      <div class="join">
        <input type="text" placeholder="Pick a name!" name="name" id="name" value="{{name}}" class="name-input" />
        <input type="text" placeholder="Room Code" name="code" value="{{code}}" class="room-code-input" />
      </div> 
      <button type="submit" name="join">Join a Room</button>
      <button type="submit" name="create" class="create-btn">Create a Room</button>
      <!-- In your home.html file -->
    {% if error %}
    <div class="error">
      <ul>
        <li>{{ error }}</li>
      </ul>
    </div>
    {% endif %}
    </form>
    {% endblock %}