<!-- room.html -->

{% extends 'base.html' %} 
{% block content %}
<div class="message-box">
  <h2>Chat Room: {{code}}</h2>
  <div class="messages" id="messages"></div>
  <div class="inputs">
    <input
      type="text"
      rows="3"
      placeholder="Message"
      name="message"
      id="message"
    />
    <button type="button" name="send" id="send-btn" onClick="sendMessage()">
      Send
    </button>
  </div>
</div>
<script type="text/javascript">
  // JavaScript code for handling chat messages with Socket.io
  var socketio = io();

  const messages = document.getElementById("messages");
  const messageInput = document.getElementById("message");

  const createMessage = (name, msg) => {
    const content = `
    <div class="text">
        <span>
            <strong>${name}</strong>: ${msg}
        </span>
        <span class="muted">
            ${new Date().toLocaleString()}
        </span>
    </div>
    `;
    messages.innerHTML += content;
  };

  socketio.on("message", (data) => {
    createMessage(data.name, data.message);
  });

  const sendMessage = () => {
    const message = messageInput.value;
    if (message === "") return;
    socketio.emit("message", { data: message });
    messageInput.value = "";
  };

  // Listen for the "Enter" key press event
  messageInput.addEventListener("keydown", (event) => {
    if (event.key === "Enter" && !event.shiftKey) {
      // Prevent the default Enter key behavior (line break)
      event.preventDefault();
      sendMessage();// Call the sendMessage function when Enter is pressed
    }
  });
</script>
{% for msg in messages %}
<script type="text/javascript">
  // JavaScript code for displaying existing messages
  createMessage("{{msg.name}}", "{{msg.message}}");
</script>
{% endfor %} 
{% endblock %}
